# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

.DS_Store
docker/postgres/data/
*/docker/go/log/*

.env
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Ignore neo4j
docker/neo4j/logs/
docker/neo4j/data/
docker/neo4j/import/done

zzz/*

docker/neo4j/import/cell.csv
docker/neo4j/import/cell_rel.csv

docker/neo4j/init/import/cell.csv
docker/neo4j/init/import/cell_rel.csv

neo4j-h3-init

docker/minio/*
