[submodule "mr-platform-relay-server"]
	path = mr-platform-relay-server
	url = https://github.com/kajiLabTeam/mr-platform-relay-server
[submodule "mr-platform-recommend-contents-server"]
	path = mr-platform-recommend-contents-server
	url = https://github.com/kajiLabTeam/mr-platform-recommend-contents-server
[submodule "mr-platform-digital-twin-server"]
	path = mr-platform-digital-twin-server
	url = https://github.com/kajiLabTeam/mr-platform-digital-twin-server
[submodule "mr-platform-contents-server"]
	path = mr-platform-contents-server
	url = https://github.com/kajiLabTeam/mr-platform-contents-server
[submodule "mr-platform-user-management-server"]
	path = mr-platform-user-management-server
	url = https://github.com/kajiLabTeam/mr-platform-user-management-server
[submodule "mr-platform-organization-management-server"]
	path = mr-platform-organization-management-server
	url = https://github.com/kajiLabTeam/mr-platform-organization-management-server
[submodule "mr-platform-city-building-management-server"]
	path = mr-platform-city-building-management-server
	url = https://github.com/kajiLabTeam/mr-platform-city-building-management-server
